/** Reset **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}


/***** Examples *****/

/* necessaire pour le scale sur le body */
html {
    background: #333333;
}

body {
    background: #FFF;
}

html, body {
    height: 100%;
    margin: 0px;
}

/* Style de la modal */
.soModalExampleModal {
    width: auto;
    padding: 20px;
    background: #007FFF;
    color: white;
    text-align: center;
    min-width: 320px;
    margin-bottom: 10px;
}

.soModalExampleModalBoxShadow {
    -webkit-box-shadow: 1px 1px 0 #005DDD, 2px 2px 0 #005DDD, 3px 3px 0 #005DDD, 4px 4px 0 #005DDD, 5px 5px 0 #005DDD, 6px 6px 0 #005DDD, 7px 7px 0 #005DDD, 8px 8px 0 #005DDD;
    -moz-box-shadow: 1px 1px 0 #005DDD, 2px 2px 0 #005DDD, 3px 3px 0 #005DDD, 4px 4px 0 #005DDD, 5px 5px 0 #005DDD, 6px 6px 0 #005DDD, 7px 7px 0 #005DDD, 8px 8px 0 #005DDD;
    -o-box-shadow: 1px 1px 0 #005DDD, 2px 2px 0 #005DDD, 3px 3px 0 #005DDD, 4px 4px 0 #005DDD, 5px 5px 0 #005DDD, 6px 6px 0 #005DDD, 7px 7px 0 #005DDD, 8px 8px 0 #005DDD;
    box-shadow: 1px 1px 0 #005DDD, 2px 2px 0 #005DDD, 3px 3px 0 #005DDD, 4px 4px 0 #005DDD, 5px 5px 0 #005DDD, 6px 6px 0 #005DDD, 7px 7px 0 #005DDD, 8px 8px 0 #005DDD; 
}

/* Style de la modal tablette */
@media screen and (max-width:1000px) {
    .soModalExampleModal {
        width: 80%;
    }
}

/* Style de l'overlay */
.soModalExampleOverlay {
    background-color: #007FFF;
}

.soModalExampleModal h1 {
    -webkit-text-shadow: 1px 1px 0 #005DDD, 2px 2px 0 #005DDD, 3px 3px 0 #005DDD, 4px 4px 0 #005DDD, 5px 5px 0 #005DDD, 6px 6px 0 #005DDD, 7px 7px 0 #005DDD, 8px 8px 0 #005DDD;
    -moz-text-shadow: 1px 1px 0 #005DDD, 2px 2px 0 #005DDD, 3px 3px 0 #005DDD, 4px 4px 0 #005DDD, 5px 5px 0 #005DDD, 6px 6px 0 #005DDD, 7px 7px 0 #005DDD, 8px 8px 0 #005DDD;
    -o-text-shadow: 1px 1px 0 #005DDD, 2px 2px 0 #005DDD, 3px 3px 0 #005DDD, 4px 4px 0 #005DDD, 5px 5px 0 #005DDD, 6px 6px 0 #005DDD, 7px 7px 0 #005DDD, 8px 8px 0 #005DDD;
    text-shadow: 1px 1px 0 #005DDD, 2px 2px 0 #005DDD, 3px 3px 0 #005DDD, 4px 4px 0 #005DDD, 5px 5px 0 #005DDD, 6px 6px 0 #005DDD, 7px 7px 0 #005DDD, 8px 8px 0 #005DDD;
}


/* Style pour la modal image */
.soModalExampleImageOverlay {
    background-color: #007FFF;
}

.soModalExampleImageModal {
    display: inline-block;
    width: auto;
    padding: 0px;
    background: #FFF;
}

.soModalExampleImageModal img {
    max-width: 100%;
}